.place__flex-row {
    color: white;
    display: flex;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    gap: 50px;
    align-items: center;
    justify-content: space-evenly;

    }