.place__flex-row {
    color: white;
    display: flex;
    font-size: 18px;
    line-height: 29px;
    gap: 80px;
    max-width: 984px;
    margin: 48px auto;
    justify-content: space-between;
    }